


.azbn7 {
	
	
	
}
#product-roller .viewer {
	margin:0px auto;
	position:relative;
	transform-origin:center center;
	#site.w(440px);
	#site.h(334px);
	#site.brep();
	#site.bg(#000000);
	#site.z(2);
	//#site.bi('common/test_10x10.jpg');
	
	@media @media-size-xs {
		transform:scale(0.7);
		margin:0px;
	}
}
#product-roller .viewer-desc {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	padding:0 20px;
	margin-bottom:10px;
	#site.ff(inherit);
	#site.color(@c-main-color);
	
	.title {
		padding-right:10px;
		display:inline-block;
		white-space: nowrap;
		#site.color(#00b0fe);
		#site.calcFS(18,36);
	}
	
	.desc {
		padding-left:10px;
		#site.size(18px);
	}
	
}


body._preloading {
	overflow:hidden;
}

.azbn7-preloader {
	position:fixed;
	display:none;
	top:0;
	left:0;
	#site.w(100%);
	#site.h(100%);
	#site.z(-1);
	
	&:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		#site.w(100%);
		#site.h(100%);
		#site.bg(@c-main-bg);
	}
	
	body._preloading & {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		#site.z(9999);
	}
	
	&__cancel-btn {
		position:relative;
		display:inline-block;
		text-align:center;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		max-width:100%;
		max-height:100%;
		border-radius:50%;
		//border:1px #bef574 solid;
		cursor:pointer;
		#site.color(#7ba83f);
		#site.size(4em);
		#site.bold();
		#site.w(300px);
		#site.h(300px);
		#site.bg(transparent);
		#site.z(10000);
		
		@keyframes preloader-before-rotate {
			from {
				transform: rotate(0deg);
			}
			
			to {
				transform: rotate(720deg);
			}
		}
		
		&:before {
			//content:'';
			position:absolute;
			border-top:3px #bef574 solid;
			border-radius:100%;
			left:-1px;
			top:-1px;
			transform-origin: center;
			animation-name: preloader-before-rotate;
			animation-duration: @trans-speed * 4;
			animation-fill-mode: forward;
			animation-iteration-count: infinite;
			animation-timing-function:linear;
			#site.w(172px);
			#site.h(172px);
		}
		
		
		img, svg {
			max-width:100%;
			max-height:100%;
			opacity:1;
		}
		
	}
	
}
.azbn7-ugc {
	
	&_html {
		#site.size(1.25rem);
		
		* {
			max-width:100%;
			vertical-align:baseline;
			border-collapse:collapse;
			cursor:auto;
			#site.ff(inherit);
		}
		
		img, iframe, embed, video {
			display: block;
			max-width:100% !important;
			margin:2em auto;
			border:none;
		}
		
		p {
			margin: 0 0 1.5em 0;
			#site.lh(1.5em);
			#site.color(#000000);
			
			&:last-child {
				margin-bottom:0;
			}
		}
		
		a {
			#site.underline();
			#site.bold();
			#site.color(@c-main-color);
			
			&:hover {
				#site.underline(none);
				//#site.color(@c-main-932ea8);
			}
		}
		
		
		ul, ol {
			.mp0();
			margin:1.5em 0;
			
			li {
				.mp0();
				margin: .5em 0 .5em 1.2em;
				
				a {
					#site.underline();
					
					&:hover {
						#site.underline(none);
					}
				}
			}
		}
		
		h1,h2,h3,h4,h5,h6 {
			margin: 1em 0;
			#site.bold();
			
			.desktop & a:hover, {
				#site.underline();
			}
		}
		h1 {
			#site.size(2.5em);
		}
		h2 {
			#site.size(2em);
		}
		h3 {
			#site.size(1.5em);
		}
		h4 {
			#site.size(1.2em);
		}
		h5 {
			#site.size(.9em);
		}
		h6 {
			#site.size(.75em);
		}
		
		
		.table-responsive {
			min-height:.01%;
			overflow-x:auto;
			margin-top:2em;
			margin-bottom:2em;
			
			overflow-y:hidden;
			max-width:100%;
			
			table {
				margin-top:0;
				margin-bottom:5px;
			}
		}
		
		table {
			border-collapse:collapse;
			border-spacing:0;
			margin-top:2em;
			margin-bottom:2em;
			max-width:100%;
			#site.w(100%);
			
			tr {
				
			}
			
			thead {
				
			}
			
			tfoot {
				
			}
			
			tbody {
				tr {
					&:nth-child(even) {
						
					}
					&:nth-child(odd) {
						#site.bg(#f6f6f6);
					}
				}
			}
			
			td, th {
				text-align:center;
				padding:0.3em 0.4em;
				white-space:nowrap;
				border:1px solid #e1e1e1;
			}
			
		}
		
		
	}
	
}
.b-container {
	margin-left:auto;
	margin-right:auto;
	
	&._limit-width {
		max-width:1560px;
	}
	
}
.grid {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:stretch;
	#site.w(100%);
	
	&-12 {
		@col-count:12;
		
		[class*='col-'] {
			padding-left:10px;
			padding-right:10px;
		}
		
		.col-1 {
			width:(100%/@col-count)*1;
		}
		.col-2 {
			width:(100%/@col-count)*2;
		}
		.col-3 {
			width:(100%/@col-count)*3;
		}
		.col-4 {
			width:(100%/@col-count)*4;
		}
		.col-5 {
			width:(100%/@col-count)*5;
		}
		.col-6 {
			width:(100%/@col-count)*6;
		}
		.col-7 {
			width:(100%/@col-count)*7;
		}
		.col-8 {
			width:(100%/@col-count)*8;
		}
		.col-9 {
			width:(100%/@col-count)*9;
		}
		.col-10 {
			width:(100%/@col-count)*10;
		}
		.col-11 {
			width:(100%/@col-count)*11;
		}
		.col-12 {
			width:(100%/@col-count)*12;
		}
		
		@media @media-size-xs {
			
			.col-xs-1 {
				width:(100%/@col-count)*1;
			}
			.col-xs-2 {
				width:(100%/@col-count)*2;
			}
			.col-xs-3 {
				width:(100%/@col-count)*3;
			}
			.col-xs-4 {
				width:(100%/@col-count)*4;
			}
			.col-xs-5 {
				width:(100%/@col-count)*5;
			}
			.col-xs-6 {
				width:(100%/@col-count)*6;
			}
			.col-xs-7 {
				width:(100%/@col-count)*7;
			}
			.col-xs-8 {
				width:(100%/@col-count)*8;
			}
			.col-xs-9 {
				width:(100%/@col-count)*9;
			}
			.col-xs-10 {
				width:(100%/@col-count)*10;
			}
			.col-xs-11 {
				width:(100%/@col-count)*11;
			}
			.col-xs-12 {
				width:(100%/@col-count)*12;
			}
			
		}
		
		@media @media-size-sm {
			
			.col-sm-1 {
				width:(100%/@col-count)*1;
			}
			.col-sm-2 {
				width:(100%/@col-count)*2;
			}
			.col-sm-3 {
				width:(100%/@col-count)*3;
			}
			.col-sm-4 {
				width:(100%/@col-count)*4;
			}
			.col-sm-5 {
				width:(100%/@col-count)*5;
			}
			.col-sm-6 {
				width:(100%/@col-count)*6;
			}
			.col-sm-7 {
				width:(100%/@col-count)*7;
			}
			.col-sm-8 {
				width:(100%/@col-count)*8;
			}
			.col-sm-9 {
				width:(100%/@col-count)*9;
			}
			.col-sm-10 {
				width:(100%/@col-count)*10;
			}
			.col-sm-11 {
				width:(100%/@col-count)*11;
			}
			.col-sm-12 {
				width:(100%/@col-count)*12;
			}
			
		}
		
		@media @media-size-md {
			
			.col-md-1 {
				width:(100%/@col-count)*1;
			}
			.col-md-2 {
				width:(100%/@col-count)*2;
			}
			.col-md-3 {
				width:(100%/@col-count)*3;
			}
			.col-md-4 {
				width:(100%/@col-count)*4;
			}
			.col-md-5 {
				width:(100%/@col-count)*5;
			}
			.col-md-6 {
				width:(100%/@col-count)*6;
			}
			.col-md-7 {
				width:(100%/@col-count)*7;
			}
			.col-md-8 {
				width:(100%/@col-count)*8;
			}
			.col-md-9 {
				width:(100%/@col-count)*9;
			}
			.col-md-10 {
				width:(100%/@col-count)*10;
			}
			.col-md-11 {
				width:(100%/@col-count)*11;
			}
			.col-md-12 {
				width:(100%/@col-count)*12;
			}
			
		}
		
		@media @media-size-dl {
			
			.col-dl-1 {
				width:(100%/@col-count)*1;
			}
			.col-dl-2 {
				width:(100%/@col-count)*2;
			}
			.col-dl-3 {
				width:(100%/@col-count)*3;
			}
			.col-dl-4 {
				width:(100%/@col-count)*4;
			}
			.col-dl-5 {
				width:(100%/@col-count)*5;
			}
			.col-dl-6 {
				width:(100%/@col-count)*6;
			}
			.col-dl-7 {
				width:(100%/@col-count)*7;
			}
			.col-dl-8 {
				width:(100%/@col-count)*8;
			}
			.col-dl-9 {
				width:(100%/@col-count)*9;
			}
			.col-dl-10 {
				width:(100%/@col-count)*10;
			}
			.col-dl-11 {
				width:(100%/@col-count)*11;
			}
			.col-dl-12 {
				width:(100%/@col-count)*12;
			}
			
		}
		
		@media @media-size-lg {
			
			.col-lg-1 {
				width:(100%/@col-count)*1;
			}
			.col-lg-2 {
				width:(100%/@col-count)*2;
			}
			.col-lg-3 {
				width:(100%/@col-count)*3;
			}
			.col-lg-4 {
				width:(100%/@col-count)*4;
			}
			.col-lg-5 {
				width:(100%/@col-count)*5;
			}
			.col-lg-6 {
				width:(100%/@col-count)*6;
			}
			.col-lg-7 {
				width:(100%/@col-count)*7;
			}
			.col-lg-8 {
				width:(100%/@col-count)*8;
			}
			.col-lg-9 {
				width:(100%/@col-count)*9;
			}
			.col-lg-10 {
				width:(100%/@col-count)*10;
			}
			.col-lg-11 {
				width:(100%/@col-count)*11;
			}
			.col-lg-12 {
				width:(100%/@col-count)*12;
			}
			
		}
		
	}
}

/*
& > .item {
	align-self:stretch;
}
&.inline {
	flex-direction:row;
}

&.incol {
	flex-direction:column;
}

&.no-wrap {
	flex-wrap:nowrap;
}

&.to-left {
	justify-content:flex-start;
}

&.to-right {
	justify-content:flex-end;
}

&.to-center {
	justify-content:center;
}

&.space-between {
	justify-content:space-between;
}

&.space-around {
	justify-content:space-around;
}
*/
.input-block {
	margin:2em 0 4em;
	#site.size(1rem);
	
	&[data-required] {
		&[data-input-status="ok"], &[data-input-status="1"] {
			
			.input-block__status {
				opacity:1;
				
				&:before {
					content:'√';
				}
				
			}
		}
	}
	
	::-webkit-input-placeholder {
		color:#999999;
	}
	:-moz-placeholder { /* Firefox 18- */
		color:#999999;
	}
	::-moz-placeholder {  /* Firefox 19+ */
		color:#999999;
	}
	:-ms-input-placeholder {
		color:#999999;
	}
	
	label {
		display:block;
		margin-bottom:.35em;
		#site.size(2em);
	}
	
	&__status {
		opacity:0;
		#site.color(rgba(123,168,63,1));
	}
	
	&__help {
		float:right;
		#site.size(1em);
		#site.italic();
		#site.color(#999999);
		
		@media @media-size-xs {
			float:inherit;
			display:block;
			margin:0 0 0.2em;
			opacity:0.4;
		}
		
	}
	
}
.page-layout {
	.mp0();
	position:relative;
	overflow:hidden;
	#site.w(100%);
	#site.h(100%);
}
.submit-block {
	margin:1em 0 2em;
	display:none;
	#site.size(1rem);
	
	&[data-input-status="ok"], &[data-input-status="1"] {
		display:block;
	}
	
	&__help {
		opacity:0;
		display:inline-block;
		margin-left:1.5em;
		transition:all @trans-speed / 1.25 ease;
		#site.size(2em);
		#site.italic();
		#site.color(#999999);
		
		@media @media-max-991 {
			& {
				display:none;
			}
		}
		
	}
	
	input[type="submit"] {
		.cleardefault();
		transition:all @trans-speed / 1.25 ease;
		display:inline-block;
		padding:1em 1.5em;
		border-radius:0px;
		border:1px transparent solid;
		cursor:pointer;
		#site.size(1.75em);
		#site.bold();
		#site.uppercase();
		
		&:focus {
			outline:none;
		}
		
		&:hover {
			border-color:#de74f5;
			#site.color(#ffffff);
			#site.bg(green);
			
			& + .submit-block__help {
				opacity:1;
			}
		}
		
		&, &[data-style="default"] {
			#site.color(#ffffff);
			#site.bg(@c-input-main-border);
		}
		
		/*
		&._xs__fullwidth {
			#site.w(100%);
		}
		*/
	}
	
}
a {
	
	
	
}
.btn {
	
	
	
}
hr {
	border-color: #cccccc;
	border-top: 1px;
	margin:1.5em 0 !important;
}

input, textarea, select {
	transition:all @trans-speed / 1.25 ease;
	display:block;
	border-radius:0px;
	border:1px @c-input-main-border solid;
	border-bottom-width:3px;
	//border-right-width:2px;
	padding: .4em;
	margin-left:auto;
	margin-right:auto;
	//#site.ff('Arial');
	#site.size(2em);
	#site.bg(transparent);
	#site.w(100%);
	
	&[type="checkbox"], &[type="radio"] {
		display:inline-block;
		border:1px transparent solid;
		transform-origin: center center;
		transform: scale(1.25);
		#site.w(auto);
		
		&:focus {
			border:1px transparent solid;
			#site.bg(transparent);
		}
		
		.ios & {
			transform: scale(0.67);
			border:2px @c-input-main-border solid;
			border-bottom-width:2px;
			vertical-align:middle;
			#site.bg(transparent);
			#site.color(@c-input-main-border);
			
			&:focus, &:active {
				border-color:@c-input-main-border__focus;
			}
		}
	}
	
	&:focus {
		outline:none;
		border-color:@c-input-main-border__focus;
		#site.bg(transparent);
	}
}

textarea {
	min-height:0;
	
	&:focus, &[data-state="inputed"] {
		min-height:172px;
	}
}

select[multiple] {
	min-height:256px;
	
	@media @media-size-xs {
		min-height:initial;
	}
	.android &, .ios & {
		min-height:initial;
	}
}

.at-center {
	text-align:center;
}
.clear, .clearfix {
	clear:both;
	
	&:after {
		content:'';
		clear:both;
	}
}
.hexahedron {
	
	&-theme {
		
	}
	
	&-logo {
		max-width:100%;
		max-height:100%;
		#site.w(295px);
		#site.h(92.169px);
		
		@keyframes hexahedron-animation__dash-grid {
			0% {
				stroke-dashoffset:144;
			}
			100% {
				stroke-dashoffset:0;
			}
		}
		@keyframes hexahedron-animation__dash-1 {
			0% {
				stroke-dashoffset:173.2056;
				stroke-width:2;
			}
			100% {
				stroke-dashoffset:0;
				stroke-width:6;
			}
		}
		@keyframes hexahedron-animation__dash-2 {
			0% {
				stroke-dashoffset:173.2056;
				stroke-width:2;
			}
			100% {
				stroke-dashoffset:0;
				stroke-width:6;
			}
		}
		@keyframes hexahedron-animation__dash-3 {
			0% {
				stroke-dashoffset:202.0732;
				stroke-width:2;
			}
			100% {
				stroke-dashoffset:0;
				stroke-width:6;
			}
		}
		@keyframes hexahedron-animation__dash-4 {
			0% {
				stroke-dashoffset:144.338;
				stroke-width:2;
			}
			100% {
				stroke-dashoffset:0;
				stroke-width:6;
			}
		}
		
		.line {
			transition:all 0.4s ease;
		}
		#hexahedron-logo__box .line {
			opacity:0;
			stroke-width:0.25;
			stroke:rgba(0,0,0,.5);
		}
		#hexahedron-logo__grid .line {
			stroke-width:0.25;
			/*stroke:rgba(0,255,0,1);*/
			stroke:rgba(0,0,0,0.3);
			animation-duration:1.25s;
			animation-timing-function:linear;
			animation-fill-mode:forwards;
			animation-iteration-count:1;
			animation-delay:0s;
			animation-name:hexahedron-animation__dash-grid;
			stroke-dasharray:144;
			stroke-dashoffset:144;
			fill: none;
		}
		#hexahedron-logo__text .line {
			stroke-width:2;
			/*stroke:rgba(0,0,0,1);*/
			stroke:#7ba83f;
			stroke-linejoin: round;
			stroke-linecap: round;
			animation-duration:1.25s;
			animation-timing-function:ease-out;
			animation-fill-mode:forwards;
			animation-iteration-count:1;
			animation-delay:0s;
			fill:none;
			transition:all 0.3s ease;
			pointer-events:auto;
			
			&:hover {
				/*stroke-width:5;*/
				stroke:#932ea8;
			}
			
			&:nth-child(1) {
				animation-delay:1.25s;
				animation-name:hexahedron-animation__dash-1;
				stroke-dasharray:173.2056;
				stroke-dashoffset:173.2056;
			}
			&:nth-child(2) {
				animation-delay:1.75s;
				animation-name:hexahedron-animation__dash-2;
				stroke-dasharray:173.2056;
				stroke-dashoffset:173.2056;
			}
			&:nth-child(3) {
				animation-delay:2.50s;
				animation-name:hexahedron-animation__dash-3;
				stroke-dasharray:202.0732;
				stroke-dashoffset:202.0732;
			}
			&:nth-child(4) {
				animation-delay:3.25s;
				animation-name:hexahedron-animation__dash-4;
				stroke-dasharray:144.338;
				stroke-dashoffset:144.338;
			}
			
		}
		
	}
	
}
.hidden {
	display:none;
	
	@media @media-size-xs {
		&_xs {
			display:none;
		}
	}
	@media @media-size-sm {
		&_sm {
			display:none;
		}
	}
	@media @media-size-md {
		&_md {
			display:none;
		}
	}
	@media @media-size-dl {
		&_dl {
			display:none;
		}
	}
	@media @media-size-lg {
		&_lg {
			display:none;
		}
	}
}
.space {
	display:block;
	#site.w(100%);
	#site.h(0);
	#site.bg(transparent);
	#site.color(transparent);
	#site.calcFS(1,2);
}
.space10 {
	display:block;
	#site.w(100%);
	#site.h(10px);
	#site.bg(transparent);
	#site.color(transparent);
	#site.calcFS(1,2);
}
.space20 {
	display:block;
	#site.w(100%);
	#site.h(20px);
	#site.bg(transparent);
	#site.color(transparent);
	#site.calcFS(1,2);
}

.layout-content {
	height:calc(~"100% - 110px - 42px");
	overflow:hidden;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-content:center;
	background-image: radial-gradient(rgba(255,255,255,0.15), #000000);
	//#site.bi('common/layout-content-bg.png');
	//#site.bpos(center top);
	//#site.brep();
	#site.w(100%);
	
	.msie & {
		justify-content:space-around;
	}
	
	&.gradient {
		background-color: rgba(0, 53, 76, 0.75);
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSIwJSIgcj0iMTExLjgwMzM5ODg3NDk4OTQ4JSI+PHN0b3Agc3RvcC1jb2xvcj0iIzAwYjBmZiIgc3RvcC1vcGFjaXR5PSIwLjE3IiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41OTgiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSIwJSIgcj0iMTExLjgwMzM5ODg3NDk4OTQ4JSI+PHN0b3Agc3RvcC1jb2xvcj0iIzAwYjBmZiIgc3RvcC1vcGFjaXR5PSIwLjE3IiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41OTgiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=),
			-webkit-gradient(radial, center top, 0, center top, 572,color-stop(0, rgba(0, 176, 255, 0.17)),color-stop(0.598, rgb(0, 0, 0)));
		background-image: -webkit-radial-gradient(center top, ellipse farthest-corner,rgba(0, 176, 255, 0.17) 0%,rgb(0, 0, 0) 59.8%);
		background-image: radial-gradient(ellipse farthest-corner at center top,rgba(0, 176, 255, 0.17) 0%,rgb(0, 0, 0) 59.8%);
		background-image: -ms-radial-gradient(center top, ellipse farthest-corner,rgba(0, 176, 255, 0.17) 0%,rgb(0, 0, 0) 59.8%);
		
		@media @media-size-xs {
			background-color: transparent;
			background-image: none;
		}
		
		@media @media-size-sm {
			background-color: transparent;
			background-image: none;
		}
	}
	
	@media @media-size-xs {
		#site.h(auto);
	}
	
	@media @media-size-sm {
		#site.h(auto);
	}
	
}

.product-list {
	margin-bottom:40px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-content:flex-start;
	//#site.calcFS(64, 100);
	#site.size(15px);
	#site.color(#999999);
	
	@media @media-size-xs {
		flex-direction:column;
	}
	
	@media @media-size-sm {
		flex-wrap:wrap;
	}
	
	& > * {
		padding-right:40px;
		
		@media @media-size-xs {
			padding-right:15px;
			padding-left:15px;
			padding-bottom:15px;
		}
		
		@media @media-size-sm {
			padding-right:15px;
			padding-left:15px;
			padding-bottom:15px;
		}
	}
	
	.product-link {
		//white-space: nowrap;
		
		&._active, &:hover {
			#site.color(@c-main-color);
		}
	}
	
}

.site-preloader {
	#site.w(100%);
	#site.h(100%);
	
	/*
	@keyframes site-preloader__anim_rotate {
		100% {
			transform: rotate(360deg);
		}
	}
	*/
	@keyframes site-preloader__anim_dash {
		0% {
			stroke-dashoffset:628.32;
		}
		50% {
			stroke-dashoffset:0;
		}
		100% {
			stroke-dashoffset:-628.32;
		}
	}
	/*
	@keyframes &__anim_color {
		100%, 0% {
			stroke:#0099ff;
		}
		40% {
			stroke:#0057e7;
		}
		66% {
			stroke:#008744;
		}
		80%, 90% {
			stroke:#ffa700;
		}
	}
	*/
	
	&__svg {
		//animation: site-preloader__anim_rotate 3s linear infinite;
		transform-origin:center center;
		//transform: rotate(-90deg);
		position: relative;
		#site.w(172px);
		#site.h(172px);
		#site.bpos(center 52.5%);
		#site.brep();
		#site.bi('common/site-logo.png');
		
		.path {
			fill:none;
			stroke-width:3;
			stroke-miterlimit:0;
			stroke-dasharray:628.32;
			//stroke-dashoffset:628.32;
			stroke:#0099ff;
			animation: site-preloader__anim_dash 3.1415926s linear infinite;/*, site-preloader__anim_color 6s ease-in-out infinite;*/
			stroke-linecap: round;
			transform-origin:center center;
			transform: rotate(-90deg);
		}
		
	}
}
body {
	#site.color(@c-main-color);
	#site.bg(@c-main-bg);
}
.layout-footer {
	#site.w(100%);
	
	.copyright {
		display:block;
		margin:20px auto;
		text-align:center;
		#site.color(#999999);
		#site.size(12px);
		#site.uppercase();
		
		&:hover {
			#site.color(@c-main-color);
		}
	}
	
}

body.modalled {
	overflow:hidden;
}


.content-modal {
	position:fixed;
	display:none;
	top:0;
	left:0;
	#site.w(100%);
	#site.h(100%);
	#site.z(15);
	
	&:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		#site.w(100%);
		#site.h(100%);
		#site.bg(rgba(0,0,0,0.77));
	}
	
	body.modalled &.active {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	
	.white-block {
		position:relative;
		max-width:1070px;
		//overflow:hidden;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		outline:1px rgba(255,255,255,1) solid;
		max-height:100%;
		#site.bg(rgba(0,0,0,1));
		//#site.w(100%);
		//#site.h(70%);
		
		&.small {
			max-width:800px;
			min-height:60%;
			#site.h(auto);
		}
		
		&.micro {
			max-width:800px;
			min-height:0%;
			#site.h(auto);
		}
		
		@media @media-max-1199 {
			//#site.h(90%);
		}
		
		@media @media-max-767 {
			//#site.h(90%);
		}
		
		@media @media-size-xs {
			max-width:100%;
			#site.h(70%);
		}
		
		.close-btn {
			position:absolute;
			top:-24px;
			right:-24px;
			display:inline-block;
			#site.w(16px);
			#site.h(16px);
			//#site.bg(rgba(0,0,0,1));
			#site.bpos();
			#site.bsize(cover);
			#site.brep();
			#site.bi('common/close-btn.png');
			
			/*
			@media @media-max-767 {
				top:12px;
				right:12px;
			}
			*/
			
			@media @media-size-xs {
				top:12px;
				right:12px;
			}
		}
		
		.modal-content {
			overflow:hidden;
			//padding:45px 100px;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			#site.w(100%);
			#site.h(100%);
			
			@media @media-max-991 {
				//padding:70px 40px 35px;
			}
			
			@media @media-max-767 {
				//padding:45px 20px 40px;
			}
			
			& > .b__ugc__html {
				//height:100% !important;
				//#site.w(100%);
			}
		}
	}
	
}
.site-logo {
	max-width:100%;
	max-height:100%;
	#site.w(256px);
	
	img {
		max-width:100%;
		max-height:100%;
		#site.w(192px);
	}
}
.roll-container {
	//cursor:move;
	transform-origin:center center;
	transition:all @trans-speed ease;
	position:relative;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-content:center;
	//#site.w(100%);
	//#site.h(100%);
	
	@media @media-size-xs {
		flex-direction:column;
		flex-wrap:wrap;
		justify-content:flex-start;
		padding-top:50px;
		padding-bottom:0px;
	}
	
	@media @media-size-sm {
		flex-direction:column;
		flex-wrap:wrap;
		justify-content:flex-start;
		padding-top:50px;
		padding-bottom:0px;
	}
	
	.item {
		padding:0 50px;
		user-select: none;
		display:flex;
		flex-direction:column;
		flex-wrap:nowrap;
		justify-content:center;
		align-content:center;
		
		@media @media-size-xs {
			padding-top:25px;
			padding-bottom:50px;
		}
		
		@media @media-size-sm {
			padding-top:25px;
			padding-bottom:50px;
		}
		
		&__content {
			//overflow:hidden;
			position:relative;
			transition:all @trans-speed ease;
			display:flex;
			flex-direction:row;
			flex-wrap:nowrap;
			justify-content:center;
			align-content:center;
			#site.z(2);
			
			@media @media-size-xs {
				flex-direction:column;
				//display:block;
			}
			@media @media-size-sm {
				flex-direction:row;
				flex-wrap:wrap;
			}
			
			.left, .right {
				//display:none;
				position:absolute;
				top:0;
				opacity:0;
				transition:opacity @trans-speed ease;
				transition-delay:@trans-speed;
				transform-origin:center center;
				transform:scale(0);
				
				display:flex;
				flex-direction:column;
				flex-wrap:nowrap;
				justify-content:flex-end;
				align-content:center;
				
				#site.w(100%);
				#site.h(100%);
				#site.z(-1);
				
				@media @media-size-xs {
					#site.h(auto);
				}
			}
			.left {
				order:1;
				left:0%;
				
				@media @media-size-xs {
					position:relative;
					top:inherit;
					left:inherit;
					right:inherit;
					opacity:1;
					transform:scale(1);
				}
				
				@media @media-size-sm {
					position:relative;
					top:inherit;
					left:inherit;
					right:inherit;
					opacity:1;
					transform:scale(1);
					#site.w(50%);
				}
				
			}
			.right {
				order:3;
				right:0%;
				
				@media @media-size-xs {
					order:2;
					position:relative;
					top:inherit;
					left:inherit;
					right:inherit;
					opacity:1;
					transform:scale(1);
					
					.code {
						display:none;
					}
				}
				
				@media @media-size-sm {
					order:2;
					position:relative;
					top:inherit;
					left:inherit;
					right:inherit;
					opacity:1;
					transform:scale(1);
					#site.w(50%);
				}
			}
			.center {
				display:inline-block;
				position:relative;
				order:2;
				transition:all @trans-speed ease;
				#site.w(200px);
				#site.h(238px);
				#site.bpos();
				#site.brep();
				#site.bsize(contain);
				#site.bi('product/roll-0001.png');
				//#site.bg(#000000);
				#site.z(5);
				
				@media @media-size-xs {
					margin:0 auto;
					//#site.h(200px);
				}
				
				@media @media-size-sm {
					margin:0 auto;
					#site.w(100%);
				}
			}
		}
		
		&._active .item__content {
			//padding:0 33.33333333%;
		}
		&._active .item__content .center {
			transition-delay:@trans-speed / 2;
			margin:0 320px;//// патч
			#site.w(331px);
			#site.h(394px);
			
			@media @media-size-xs {
				margin:0px;
				//#site.h(auto);
			}
			@media @media-size-sm {
				margin:0px;
			}
		}
		&._active .item__content .left, &._active .item__content .right {
			opacity:1;
			transform:scale(1);
			#site.w(28%);
			#site.z(1);
		}
		&._active .item__content .left {
			//left:0%;
			//right:65%;
		}
		&._active .item__content .right {
			//right:0%;
			//left:65%;
		}
		
		.code {
			margin-bottom:12px;
			#site.color(#00b0fe);
			#site.bold(600);
			#site.size(30px);
		}
		.title {
			#site.bold(700);
			#site.size(16px);
			#site.uppercase();
		}
		.line {
			margin:20px 0;
			#site.h(1px);
			#site.bg(#00b0fe);
			#site.w(100%);
		}
		.description {
			#site.bold(400);
			#site.size(16px);
		}
		.download {
			text-align:right;
			
			@media @media-size-xs {
				text-align:left;
			}
			
			a {
				position:relative;
				#site.bold(400);
				#site.size(16px);
				
				&:before {
					content:'•';
					display:inline-block;
					vertical-align:middle;
					position:absolute;
					left:-12px;
					top:0;
					#site.h(100%);
					#site.color(#00b0fe);
					
					@media @media-size-xs {
						content:none;
					}
					
					@media @media-size-sm {
						content:none;
					}
				}
			}
			
			&._white {
				//margin-top:28px;
			}
			
			&._blue a {
				#site.color(#00b0fe);
			}
		}
		
		.rotate-roll {
			position:absolute;
			bottom:0;
			left:0;
			#site.w(100%);
			
			@media @media-size-xs {
				position:relative;
				bottom:inherit;
				left:inherit;
				right:inherit;
				margin-top:20px;
			}
			
			@media @media-size-sm {
				position:relative;
				bottom:inherit;
				left:inherit;
				right:inherit;
				margin-left:auto;
				margin-top:30px;
				#site.w(75%);
			}
			
			a.product-model-btn {
				display:inline-block;
				
				position:relative;
				border-radius: 3px;
				////margin-top:125px;
				//padding:15px 0;
				//text-align:center;
				//background: linear-gradient(0deg, #161f27 0%, #0e151c 17%, #0d1d26 58%, #7a858b 86%, #8b959a 100%);
				transition:all @trans-speed ease;
				//	box-shadow: inset 0px 15px 32px #ffffff;
				#site.size(14px);
				#site.color(#ffffff);
				#site.w(100%);
				#site.underline(none);
				#site.uppercase();
				#site.z(2);
				
				.product-model-btn__bg {
					display:inline-block;
					overflow:hidden;
					position:relative;
					//bottom:0;
					//left:0;
					border-radius: 3px;
					padding:15px 0;
					text-align:center;
					#site.w(100%);
					//#site.h(100%);
					#site.bg(transparent);
					#site.color(#ffffff);
					
					&:before {
						content:'';
						position:absolute;
						top:-10%;
						left:-10%;
						box-shadow: inset 0px 10px 32px #ffffff;
						transition:all @trans-speed ease-out;
						#site.h(120%);
						#site.w(120%);
						#site.z(-1);
					}
					
				}
				.product-model-btn__mirror {
					display:inline-block;
					position:absolute;
					text-align:center;
					bottom:0;
					left:0;
					opacity:0.25;
					padding:15px 0;
					transition:all @trans-speed ease;
					transform-origin:center bottom;
					transform:rotateX(180deg);
					
					#site.w(100%);
					#site.h(100%);
					//#site.bg(transparent);
					#site.color(#ffffff);
					
					&:after {
						content:'';
						position:absolute;
						left:0;
						top:0;
						background-image: linear-gradient(0deg, transparent 30%, #000000 70%, #000000 100%);
						#site.w(100%);
						#site.h(100%);
					}
					
					@media @media-size-xs {
						display:none;
					}
					
					@media @media-size-sm {
						display:none;
					}
				}
				
				
				
				&:hover {
					//background: linear-gradient(0deg, #ffffff 0%, #ffffff 17%, #ffffff 58%, #ffffff 86%, #ffffff 100%);
					
					.product-model-btn__bg {
						#site.color(#000000);
						
						&:before {
							box-shadow: inset 0px 85px 32px #ffffff;
						}
					}
					
					.product-model-btn__mirror {
						opacity:0;
					}
					
				}
			}
		}
		
		._bottom-div {
			min-height:255px;
			position:relative;
			
			@media @media-size-xs {
				min-height:auto;
				margin-bottom:20px;
			}
			
			@media @media-size-sm {
				min-height:auto;
				margin-bottom:20px;
			}
		}
		
	}
	
}
.text-container {
	align-content:inherit;
	#site.color(#ffffff);
	#site.ff('calibri-reg');
	
	&._contact {
		#site.color(#999999);
	}
	
	@media @media-size-xs {
		margin:60px 0 0;
	}
	
	@media @media-size-sm {
		margin:60px 0 0;
	}
	
	h1 {
		letter-spacing:3px;
		margin-bottom:65px;
		#site.calcFS(36, 60);
		#site.bold(700);
		#site.color(#ffffff);
	}
	
	p {
		margin-bottom:40px;
		#site.size(18px);
	}
	
	a {
		#site.color(#0099ff);
		#site.underline(none);
		
		&:hover {
			#site.underline();
		}
		
		@media @media-size-xs {
			display: inline-block;
		}
	}
	
	.p__title {
		display:block;
		#site.uppercase;
		#site.color(#ffffff);
	}
	
}
.page-layout {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	
	@media @media-size-xs {
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:flex-start;
		overflow:inherit;
	}
	
	@media @media-size-sm {
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:flex-start;
		overflow:inherit;
	}
	
}
.footer-grid {
	
}
.layout-footer {
	
}
.header-menu {
	padding:0 10px;
	position:relative;
	display:flex;
	flex-direction:row;
	//flex-wrap:wrap;
	justify-content:space-between;
	align-content:stretch;
	#site.w(100%);
	#site.h(100%);
	
	@media @media-size-xs {
		flex-wrap:wrap;
	}
	
	@media @media-size-sm {
		flex-wrap:wrap;
	}
	
	.item {
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		
		&._active {
			a {
				#site.color(#ffffff);
			}
		}
		
	}
	
	& > .item {
		
		@media @media-size-xs {
			#site.w(50%);
		}
		
		@media @media-size-sm {
			#site.w(50%);
		}
		
		&:nth-child(1) {
			flex-wrap:wrap;
			padding:15px 0;
			
			@media @media-size-sm {
				#site.w(70%);
			}
			
			.item {
				
				@media @media-size-xs {
					//padding:0 10px;
					#site.w(100%);
				}
				
				@media @media-size-sm {
					//padding:0 10px;
					#site.w(33.33333333%);
				}
				
				a {
					margin-right:40px;
					
					@media @media-size-sm {
						margin-right:15px;
					}
				}
			}
		}
		
		&:nth-child(2) {
			
			@media @media-size-xs {
				padding:10px 0;
				order:3;
				text-align:center;
				#site.w(100%);
				
				.item {
					text-align:center;
					justify-content:space-around;
					#site.w(100%);
				}
			}
			
			@media @media-size-sm {
				padding:10px 0;
				order:3;
				text-align:center;
				#site.w(100%);
				
				.item {
					text-align:center;
					justify-content:space-around;
					#site.w(100%);
				}
			}
			
		}
		
		
		&:last-child {
			
			@media @media-size-xs {
				//padding-right:10px;
				justify-content:flex-end;
				order:2;
			}
			
			@media @media-size-sm {
				//padding-right:10px;
				justify-content:flex-end;
				order:2;
				#site.w(30%);
			}
			
			img {
				margin-top: 15px;
			}
			
		}
		
		@media @media-size-xs {
			order:2;
		}
		
	}
	
	a {
		display:inline-flex;
		align-items: center;
		vertical-align:middle;
		#site.calcFS(14, 18);
		#site.uppercase();
		#site.h(100%);
	}
	
}
.layout-header {
	#site.w(100%);
	#site.h(110px);
	#site.bg(@c-main-bg);
	
	@media @media-size-xs {
		#site.h(auto);
	}
}